
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEYONDEXS - TICKET SYSTEM</title>
    <script src="~/Scripts/Inactivitylogout.js"></script>
    <link href="~/Content/SideMenu.css" rel="stylesheet" />

</head>
<body onload="hideLoadingScreen()">
    <div id="loadingScreen">
        <div class="loader"></div>
    </div>
    <nav class="sidebar close">
        <header>
            <div class="text logo-text" style="display:inline-block">
                @if (Session["UserRole"] != null && Session["UserRole"].ToString().ToLower() == "sa")
                {
                    <a href="@Url.Action("SuperAdminCountDashboard", "DashBoard")">


                        @if (Session["Logo"] != null)
                        {
                            <img src="data:image/png;base64,@Session["Logo"]" alt="PSS Logo" class="logo" />
                        }

                    </a>
                }
                else
                {
                    <a href="@Url.Action("Dashboard", "DashBoard")">


                        @if (Session["Logo"] != null)
                        {
                            <img src="data:image/png;base64,@Session["Logo"]" alt="PSS Logo" class="logo" />
                        }

                    </a>
                }

            </div>
            @if (Session["UserRole"] != null && Session["UserRole"].ToString().ToLower() != "sa")
            {
                <a href="@Url.Action("RecentTicket", "RecentTickets")" title="Tickets">
                    <i class="bi bi-card-list text logo-text" style="position: absolute; top: 50%; left: 52%; color: #695cfe; font-size: 27px; display: inline-block"></i>
                </a>
            }
            <i class="bx bx-chevron-right toggle" style="margin-right:28px;margin-top:16px;"></i>
            
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links" style="margin-left:20px">
                    <!-- Configuration Section -->
                    <li class="nav-link openfold" style="margin-top:10px;">
                        <img src="~/assets/img/closefolder.png" class="settingsIcon" style="width:25px;height:25px;" />
                        <img src="~/assets/img/open.png" class="openIcon" style="display:none;width:25px;height:25px;" />
                        <span class="text nav-text" style="margin-left:15px">KNOWLEDGE BASED </span>
                    </li>
                    <!-- User Group -->
                    <li class="nav-link">
                        <a href="@Url.Action("FAQADMIN", "RecentTickets")">
                            <i class='bx bxs-file' style="font-size:20px"></i>
                            <span class="text nav-text" style="margin-left:15px">FAQ</span>
                        </a>
                    </li>
                    <!-- App User -->
                    <li class="nav-link">
                        <a href="@Url.Action("Whitepaper", "KnowledgeBased")">
                            <i class='bx bxs-file' style="font-size:20px"></i>
                            <span class="text nav-text" style="margin-left:15px">White Paper</span>
                        </a>
                    </li>
                    <!-- Settings Section -->
                    <li class="nav-link openfold" style="margin-top:10px;">
                        <img src="~/assets/img/closefolder.png" class="settingsIcon" style="width:25px;height:25px;" />
                        <img src="~/assets/img/open.png" class="openIcon" style="display:none;width:25px;height:25px;" />
                        <span class="text nav-text" style="margin-left:15px">SECURITY</span>
                    </li>
                    <!-- Change Password -->
                    @if (Session["UserRole"] != null && Session["UserRole"].ToString().ToLower() != "admin")
                    {
                        <li class="nav-link">
                            <a href="@Url.Action("List", "UserGroup")">
                                <i class='bx bx-user-circle' style="font-size:24px"></i>
                                <span class="text nav-text" style="margin-left:15px">User Category</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="@Url.Action("List", "ProductMaster")">
                                <i class='bx bx-spreadsheet' style="font-size:24px"></i>
                                <span class="text nav-text" style="margin-left:15px">Product</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="@Url.Action("List", "ProjectMaster")">
                                <i class='bi bi-bag-check' style="font-size:24px"></i>
                                <span class="text nav-text" style="margin-left:15px">Customer</span>
                            </a>
                        </li>
                    }
                    @if ((Session["UserRole"] != null && Session["UserRole"].ToString().ToLower() == "sa") && (Session["MaterialConsumptionFlag"] != null && Session["MaterialConsumptionFlag"].ToString().ToLower() == "y"))
                    {
                        <li class="nav-link">
                            <a href="@Url.Action("List", "MaterialCategory")">
                                <i class='bx bxs-category' style="font-size:24px"></i>
                                <span class="text nav-text" style="margin-left:15px">Item Category</span>
                            </a>
                        </li>
                    }

                    <li class="nav-link">
                        <a href="@Url.Action("Info", "CompanyInfo")">
                            <i class='bi bi-buildings-fill' style="font-size:24px"></i>
                            <span class="text nav-text" style="margin-left:15px">Company Info</span>
                        </a>
                    </li>


                    <li class="nav-link">
                        <a href="@Url.Action("ChangePassword", "ChangePassword")">
                            <i class='bx bxs-key' style="font-size:24px"></i>
                            <span class="text nav-text" style="margin-left:15px">Change Password</span>
                        </a>
                    </li>
                    <!-- Logout -->
                    <li class="nav-link">
                        <a href="@Url.Action("Index", "Login")" class="logout-trigger login-link text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
                            <i class='bx bx-log-out' style="font-size:24px"></i>
                            <span class="text nav-text" style="margin-left:15px">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()

    </div>
    @*Toastr CSS*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    @*jQuery (required by Toastr)*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*Toastr JS*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @*Preloader script*@
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            showLoadingScreen();

        });

        window.addEventListener('load', function () {
            // Delay hiding the preloader to ensure it's displayed even on fast loads
            setTimeout(hideLoadingScreen, 500); // 500ms delay before hiding
        });

        function showLoadingScreen() {
            document.getElementById('loadingScreen').style.display = 'flex';
        }

        function hideLoadingScreen() {
            document.getElementById('loadingScreen').style.display = 'none';
        }
    </script>
    @*Preloader script*@

</body>
</html>




