@model IEnumerable<PSS_CMS.Models.Recenttickets>
@using GridMvc.Html

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link href="~/Content/ClientSide.css" rel="stylesheet" />
    <link href="~/Content/Style1.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @*Bootstrap Icons and Boxicons link*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="~/Scripts/Script.js"></script>
    <link href="~/Content/Responsive.css" rel="stylesheet" />
    <link href="~/Content/SideMenu.css" rel="stylesheet" />
    <link href="~/Content/FooterResponsive.css" rel="stylesheet" />

    <!-- DateRangePicker CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <style>
        .position-relative {
            position: relative;
        }

        .bi-chevron-down {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: #555;
        }

        input#flexCheckDefault {
            font-size: 20px !important;
        }

        .bi-caret-down-fill {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            font-size: 14px;
            color: #555;
        }

        #statusDropdown {
            appearance: none;
            padding-right: 30px;
        }

        .daterangepicker .drp-buttons .btn {
            margin-left: 4px !important;
            font-size: 12px;
            font-weight: bold;
            padding: 4px 8px;
        }

        i.bx.bx-reply-all, i.bx.bx-user-plus {
            font-size: 23px;
        }

        i.bx.bx-cart-alt {
            font-size: 19px;
        }

        i.bx.bxs-file-pdf.red {
            font-size: 22px;
        }

        i.bi.bi-card-checklist {
            font-size: 20px;
        }
    </style>

</head>

<body>
    <div id="loadingScreen" style="display:none;">
        <div class="loader"></div>
    </div>

    <div class="content" style=" overflow-x: hidden!important;">

        <nav class="nav d-flex">
            <div class="p-2 flex-grow-1"> <h3 style="margin-top:10px" class="heading ms-3 adminheadinres">SERVICE MANAGEMENT</h3></div>


            <div class="p-2" style="margin-right:10px"><h4 class="heading adminlogoutres">@Session["UserName"].ToString().ToUpper() - @Session["Role"]</h4></div>

            <div class="p-2 me-3 logout" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Log out">
                <a href="@Url.Action("Logout", "Login")" class="text-decoration-none" id="logoutlink" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                    <i class='bx bx-log-out' style="font-size:24px;color:red !important;" id="logoutresiconadmin"></i>

                </a>
            </div>


        </nav>
        <div class="row" style="margin-top:10px">
            <div class="col-lg-10 col-md-10 col-sm-10">

                <ul class="breadcrumb mt-1" style="margin-bottom:0px!important">

                    <li>TICKETS</li>

                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 mt-2 d-flex justify-content-end">
                <button type="button" id="resetFilters" class="btn btn-primary">Reset Filters</button>
            </div>

        </div>



        <!-- Row for Combo Boxes -->
        <div class="row mt-4 ms-1">
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="position-relative flex-grow-1">

                    @if (ViewBag.product != null)
                    {
                        @Html.DropDownListFor(model => model.FirstOrDefault().SelectedProjectType,
                                              (IEnumerable<SelectListItem>)ViewBag.product,
                                              "Select Product",
                                              new { @class = "", id = "projectTypeFilter1" })
                    }
                    else
                    {
                        @Html.DropDownListFor(model => model.FirstOrDefault().SelectedProjectType,
                                              (IEnumerable<SelectListItem>)ViewBag.product,
                                                "No Product are available",
                                              new { @class = "", id = "projectTypeFilter1" })

                    }

                </div>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="position-relative ">

                    @Html.DropDownListFor(model => model.FirstOrDefault().SelectedTicketType, (IEnumerable<SelectListItem>)ViewBag.TicketTypes, "Select Ticket Type", new { @class = "", id = "ticketTypeFilter1" })

                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="">

                    <div class="position-relative">
                        <select class="" id="statusDropdown1">
                            <option value="">Select Status</option>
                            <option value="S">Submitted</option>
                            <option value="R">Resolved</option>
                            <option value="C">Closed</option>
                            <option value="O">Re-Opened</option>
                        </select>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="row ">

                    <div class="col-md-10">
                        @using (Html.BeginForm("RecentTicket", "RecentTickets", FormMethod.Get, new { id = "searchForm" }))
                        {
                            <div class="position-relative w-100">
                                <input type="text" id="searchPharse" name="searchPharse" autocomplete="off" class="inputcustom" placeholder="Search" value="@Request["searchPharse"]" style="margin-top:9px; padding-right: 40px;" />
                                @*<i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-2 text-muted"></i>*@
                            </div>
                        }
                    </div>

                    <div class="col-md-2 mt-3 d-flex justify-content-end">
                        <i class="bi bi-calendar3" id="daterange" style="cursor: pointer; color: #357ebd;font-size:20px"></i>
                        <form id="dateForm" method="post" action="@Url.Action("RecentTicket", "RecentTickets")">
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                        </form>
                        <a href="@Url.Action("ExcelAdminDownload", "RecentTickets")" class="" title="Export as Excel" style="text-decoration:none;">
                            <img src="~/assets/img/Excel image.png" alt="Add" width="30" height="30" />
                        </a>
                    </div>

                </div>



            </div>

        </div>

        <div class="table mt-3 ms-1" id="ticketTable1">
            @if (Model != null)
            {
                @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.TC_USERNAME).Titled("User Name");
               columns.Add(c => c.TC_TICKETDATES).Titled("Date & Time");
               columns.Add(c => c.P_NAME).Titled("Product");
               columns.Add(c => c.TC_COMMENTS).Titled("Comments");
               columns.Add(c => c.TC_PRIORITYTYPE).Titled("Priority Type");
               columns.Add(c => c.TC_TICKETTYPE).Titled("Ticket Type");
               columns.Add(c => c.TC_STATUS_DISPLAY).Titled("Status");
               columns.Add().Titled("Action")
              .Encoded(false)
               .Sanitized(false)
            .RenderValueAs(o =>
            {
                string assigntoLinkHtml = "";
                if ((Session["UserRole"]?.ToString() == "Manager") && (o.TC_STATUS != "C"))
                {
                    var assignToUrl = Url.Action("Assignto", "AssignTo", new { Recid = o.TC_RECID });
                    assigntoLinkHtml = $"<a href='{assignToUrl}' data-toggle='tooltip' data-placement='top' title='Assign To'><i class='bx bx-user-plus'></i></a>&nbsp;";
                }
                string MCLinkHtml = "";
                string ServiceLinkHtml = "";
                if ((Session["MaterialConsumptionFlag"]?.ToString() == "Y") && (o.TC_STATUS != "C"))
                {
                    var MCUrl = Url.Action("List", "MaterialConsumption", new {TC_RECID=o.TC_RECID,Type="Material",P_RECID=o.P_RECID});
                    MCLinkHtml = $"<a href='{MCUrl}' data-toggle='tooltip' data-placement='top' title='Materials'><i class='bx bx-cart-alt'></i></a>&nbsp;";

                    var ServiceUrl = Url.Action("List", "MaterialConsumption", new { TC_RECID = o.TC_RECID, Type = "Service", P_RECID = o.P_RECID });
                    ServiceLinkHtml = $"<a href='{ServiceUrl}' data-toggle='tooltip' data-placement='top' title='Services'><i class='bi bi-card-checklist'></i></a>";
                }

                string PDFLinkHtml = "";
                if (o.TC_STATUS == "C")
                {
                    var PDFUrl = Url.Action("DownloadPDF", "PDF", new {TRECID=o.TC_RECID });
                    PDFLinkHtml = $"<a href='#' class='download-pdf' data-id='{o.TC_RECID}' data-toggle='tooltip' title='PDF'><i class='bx bxs-file-pdf red'></i></a>&nbsp;";
                }

                var lineItemsUrl = Url.Action("AdminTickets", "RecentTickets", new
                {
                    recid2 = o.TC_RECID,
                    userid = o.TC_URECID,
                    status = o.TC_STATUS,
                    adminresolvedname = o.TC_ADMINNAME
                });

                var lineItemLinkHtml = $"<a href='{lineItemsUrl}' data-toggle='tooltip' data-placement='top' title='Review Tickets'><i class='bx bx-reply-all'></i></a>";

                return MvcHtmlString.Create($"{assigntoLinkHtml}{lineItemLinkHtml}{MCLinkHtml}{PDFLinkHtml}{ServiceLinkHtml}");
            });

           }).WithPaging(10).Sortable(false).EmptyText("No ticket records are available for display at this time") 
            }
           
              <footer>
            <div class="footer">
                <div class="flex-container" style="padding-top:5px;padding-left:5px">

                    <div class="flex-item">
                        <div class="d-flex justify-content-center footerb">
                            <img src="~/assets/img/Excel image.png" alt="Add" width="30" height="30" />
                            ~Excel Download
                        </div>
                    </div>

                    <div class="flex-item">
                        <div class="d-flex justify-content-center footerb">
                            <i class="bi bi-calendar3" id="daterange" style="cursor: pointer; color: #357ebd;font-size:20px"></i>
                            ~ Date Picker
                        </div>
                    </div>

                    <div class="flex-item">
                        <div class="d-flex justify-content-center footerb">
                            <i class='bx bx-reply-all'></i>
                            ~ Reply/Respond
                        </div>
                    </div>
                    @if ((Session["UserRole"]?.ToString() == "Manager"))
                    {
                <div class="flex-item">
                    <div class="d-flex justify-content-center footerb">
                        <i style="color:#337ab7" class='bx bx-user-plus'></i>
                        ~ Assign To
                    </div>
                </div>}
                    <div class="flex-item">
                        <div class="d-flex justify-content-center footerb">
                            <i style="color:#337ab7" class='bx bx-cart-alt'></i>
                            ~ Materials
                        </div>
                    </div>

                    <div class="flex-item">
                        <div class="d-flex justify-content-center footerb">
                            <i style="color:#337ab7" class='bi bi-card-checklist'></i>
                            ~ Services
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        </div>

    </div>


    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height: 150px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-align-center" id="offcanvasBottomLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
            <h4>Are you sure you want to log out?</h4>
        </div>
        <div class="offcanvas-footer d-flex justify-content-center">
            <input type="button" class="btncolorsubmit me-3" id="confirmLogoutBtn" value="Confirm" tabindex="1">
            <input type="button" class="btncolorcancel" data-bs-dismiss="offcanvas" value="Cancel" tabindex="2">
        </div>
    </div>
  
    <!-- LogOut JS -->
    <script src="~/Scripts/Logoutjs.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    document.getElementById("logoutLink").addEventListener("click", function () {
        Swal.fire({
            title: "Are you sure you want to log out?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel",
            confirmButtonColor: "#28a745",
            cancelButtonColor: "#dc3545",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Logout", "Login")';
            }
        });
    });
    </script>

    @*script for filers*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(function () {
        var selectedStatus1 = localStorage.getItem('ticketStatus') || '';
        var selectedProjectType = localStorage.getItem('projectType') || '';
        var selectedTicketType = localStorage.getItem('ticketType') || '';
        var selectedStartDate = localStorage.getItem('StartDate') || '';
        var selectedEndDate = localStorage.getItem('EndDate') || '';

        if (selectedStatus1) {
            $("#statusDropdown1").val(selectedStatus1);
        }
        if (selectedProjectType) {
            $("#projectTypeFilter1").val(selectedProjectType);
        }
        if (selectedTicketType) {
            $("#ticketTypeFilter1").val(selectedTicketType);
        }
        if (selectedStartDate && selectedEndDate) {
            $('#daterange').data('daterangepicker').setStartDate(selectedStartDate);
            $('#daterange').data('daterangepicker').setEndDate(selectedEndDate);
        }

        function updateTickets() {
            var selectedStatus1 = $("#statusDropdown1").val();
            var selectedProjectType = $("#projectTypeFilter1").val();
            var selectedTicketType = $("#ticketTypeFilter1").val();
            var startDate = $('input[name="StartDate"]').val();
            var endDate = $('input[name="EndDate"]').val();

            localStorage.setItem('ticketStatus', selectedStatus1);
            localStorage.setItem('projectType', selectedProjectType);
            localStorage.setItem('ticketType', selectedTicketType);
            localStorage.setItem('StartDate', startDate);
            localStorage.setItem('EndDate', endDate);

            var url = '@Url.Action("RecentTicket", "RecentTickets")' +
                "?status=" + encodeURIComponent(selectedStatus1) +
                "&projectType=" + encodeURIComponent(selectedProjectType) +
                "&ticketType=" + encodeURIComponent(selectedTicketType) +
                "&StartDate=" + encodeURIComponent(startDate) +
                "&EndDate=" + encodeURIComponent(endDate);

            console.log("AJAX URL: " + url);

            $("#loadingScreen").fadeIn();

            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    console.log("AJAX success");
                    $("#loadingScreen").fadeOut();
                    var newTable1 = $(response).find("#ticketTable1").html();
                    if (newTable1) {
                        $("#ticketTable1").html(newTable1);
                    } else {
                        console.error("Error: Response does not contain #ticketTable1");
                    }
                },
                error: function (xhr, status, error) {
                    console.log("AJAX Error: ", error);
                    $("#loadingScreen").fadeOut();
                }
            });
        }

        $("#statusDropdown1, #projectTypeFilter1, #ticketTypeFilter1").change(updateTickets);

        $('#daterange').daterangepicker({
            locale: {
                format: 'DD-MM-YYYY',
                cancelLabel: 'Cancel',
                applyLabel: 'Apply'
            },
            opens: 'right',
            autoApply: false,
            showDropdowns: true
        }, function (start, end) {
            $('input[name="StartDate"]').val(start.format('YYYY-MM-DD'));
            $('input[name="EndDate"]').val(end.format('YYYY-MM-DD'));
            updateTickets();
        });
        // Change Cancel Button Color
        $('.daterangepicker .btn.btn-default').addClass('btn-danger').removeClass('btn-default');

        $('#resetFilters').click(function () {
            localStorage.clear();
            $("#statusDropdown1, #projectTypeFilter1, #ticketTypeFilter1,#searchPharse").val('');
            $('input[name="StartDate"], input[name="EndDate"]').val('');
            updateTickets();
        });
        $(document).ready(function () {
            $("a, button,li").click(function () {
                localStorage.clear();
            });
        });
        $(window).on("beforeunload", function () {
            localStorage.clear();
        });


    });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).on('click', '.download-pdf', function (e) {
        e.preventDefault();
        var trecid = $(this).data('id');

        Swal.fire({
            title: 'Processing PDF...',
            text: 'Please wait while the PDF is being generated.',
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading()
            }
        });

        $.ajax({
            url: '@Url.Action("DownloadPDF", "PDF")',
            type: 'POST',
            data: { TRECID: trecid },
            success: function (response) {
                Swal.close();

                if (response.status === "success") {
                    console.log("response=",response.status);
                    window.open(response.url, '_blank'); // Open PDF in a new tab
                    console.log("url", response.url)
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Failed',
                        text: response.message
                    });
                }
            }
,
            error: function () {
                Swal.close();
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Something went wrong. Please try again.'
                });
            }
        });
    });
</script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>

</body>
</html>
