@model IEnumerable<PSS_CMS.Models.ProductMaster>
@using GridMvc.Html
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="~/Content/FooterResponsive.css" rel="stylesheet" />
    <link href="~/Content/ClientSide.css" rel="stylesheet" />
    <link href="~/Content/Style1.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @*Bootstrap Icons and Boxicons and Fontawesome link*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="~/Scripts/Script.js"></script>
    <link href="~/Content/Responsive.css" rel="stylesheet" />
    <link href="~/Content/SideMenu.css" rel="stylesheet" />
    <style>
        i.bi.bi-eye.\-.fill {
            font-size: 17px;
        }
    </style>
</head>

<body>

    <div class="content" style=" overflow-x: hidden!important;">
        <nav class="nav d-flex">
            <div class="p-2 flex-grow-1"> <h3 style="margin-top:10px" class="heading ms-3 adminheadinres">SERVICE MANAGEMENT </h3></div>
            <div class="p-2" style="margin-right:10px"><h4 class="heading adminlogoutres">@Session["UserName"].ToString().ToUpper() - @Session["Role"]</h4></div>
            <div class="p-2 me-3 logout" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Log out">
                <a href="@Url.Action("Logout", "Login")" class="text-decoration-none" id="logoutlink" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                    <i class='bx bx-log-out' style="font-size:24px;color:red !important;" id="logoutresiconadmin"></i>

                </a>
            </div>

        </nav>
        <div class="row" style="margin-top:10px">
            <div class="col-lg-9">
                <ul class="breadcrumb mt-1" style="margin-bottom:0px!important">
                    <li>PRODUCT</li>
                    <li>LIST</li>
                </ul>
            </div>
            <div class="col-lg-3" style="display:flex;align-items:end;justify-content:end;">
                @using (Html.BeginForm("List", "ProductMaster", FormMethod.Get, new { id = "searchForm" }))
                {
                    <input type="text" id="searchPharse" name="searchPharse" class="inputcustom" placeholder="Search" autocomplete="off" value="@Request["searchPharse"]" style="margin-top:3px; padding-right: 40px;width:100%;" />}
                <!-- Add button with icon -->
                <a href="@Url.Action("Create", "ProductMaster")" class=" ms-3" style="margin-left: 30px;">
                    <img src="~/assets/img/icons8-add-32.png" class="addimg" alt="Add" width="20" height="20" title="Add Product" />
                </a>
            </div>

        </div>

        <div class="table mt-3 ms-1 me-5" id="ticketTable1">
            @if (Model != null)
            {
                @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.P_CODE).Titled("Code");
               columns.Add(c => c.P_NAME).Titled("Product Name");
               columns.Add(c => c.P_SORTORDER).Titled("Sort").SetWidth("100px").Css("text-right");
               columns.Add().Titled("Action").SetWidth("100px")
              .Encoded(false)
               .Sanitized(false)
            .RenderValueAs(o =>
            {

                var Editurl = Url.Action("Edit", "ProductMaster", new { Recid = o.P_RECID, name = o.P_NAME }, null);
                var EditiconHtml = "<i class='bx bxs-pencil bx-sm'></i>";
                var EditlinkHtml = $"<a href='{Editurl}' data-toggle='tooltip' data-placement='top' title='Edit'>{EditiconHtml}</a>";

                var Deleteurl = Url.Action("Delete", "ProductMaster", new { Recid = o.P_RECID }, null);
                var DeleteiconHtml = "<i class='bx bxs-trash bx-sm red'></i>";
                var DeletelinkHtml = $"<a href='{Deleteurl}' data-toggle='tooltip' data-placement='top' title='Delete' onclick='return confirmDelete(this);'>{DeleteiconHtml}</a>";

                var Viewurl = Url.Action("View", "ProductMaster", new { Recid = o.P_RECID,prodname=o.P_NAME }, null);
                var ViewiconHtml = "<i class='bx bx-user bx-sm'></i>";
                var ViewlinkHtml = $"<a href='{Viewurl}' data-toggle='tooltip' data-placement='top' title='Product Mapped Customer'>{ViewiconHtml}</a>";

                var extraSpaces2 = "&nbsp;&nbsp;&nbsp;";
                return MvcHtmlString.Create($"{EditlinkHtml}{extraSpaces2}{DeletelinkHtml}{extraSpaces2}{ViewlinkHtml}");
            });

           }).WithPaging(10).Sortable(false) }
            else
            {
                <div class="alert alert-warning text-center">
                    <b>No Product's are available</b>
                </div>}

        </div>

        <footer>
            <div class="footer">
                <div class="flex-container" style="padding-top:5px;padding-left:5px">

                    <div class="flex-item mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <img src="~/assets/img/icons8-add-32.png" alt="Add" width="15" height="15" />
                        </div>&nbsp;- Create
                    </div>

                    <div class="flex-item mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <i style="color:#337ab7" class='bx bxs-pencil bx-sm'> </i>
                        </div>
                        &nbsp;- Edit
                    </div>

                    <div class="flex-item  mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <i class='bx bxs-trash bx-sm red'> </i>
                        </div>
                        &nbsp;- Delete
                    </div>

                    <div class="flex-item  mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <i style="color:#337ab7" class='bx bx-user bx-sm'> </i>
                        </div>
                        &nbsp;- Product Mapped Customer
                    </div>

                </div>
            </div>
        </footer>

    </div>


    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height: 150px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-align-center" id="offcanvasBottomLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
            <h4>Are you sure you want to log out?</h4>
        </div>
        <div class="offcanvas-footer d-flex justify-content-center">
            <input type="button" class="btncolorsubmit me-3" id="confirmLogoutBtn" value="Confirm" tabindex="1">
            <input type="button" class="btncolorcancel" data-bs-dismiss="offcanvas" value="Cancel" tabindex="2">
        </div>
    </div>
    <div id="preloader2"></div>
    <!-- LogOut JS -->
    <script src="~/Scripts/Logoutjs.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    document.getElementById("logoutLink").addEventListener("click", function () {
        Swal.fire({
            title: "Are you sure you want to log out?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel",
            confirmButtonColor: "#28a745",
            cancelButtonColor: "#dc3545",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("Logout", "Login")';
            }
        });
    });
    </script>

    <script src="~/Scripts/Fordelete.js"></script>
</body>
</html>


