@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Recruitment</title>


    <!-- Favicons -->
    <link href="~/assets/img/PSSlogo.png" rel="icon">
    <link href="~/assets/img/PSSlogo.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- Main CSS File -->
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/EditiSub.css" rel="stylesheet" />
    <!-- Bootstrap JS (and dependencies) -->
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- =======================================================
    * Template Name: Arsha
    * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>


<style>
    #purpose {
        text-align: left;
    }

    #purpose {
        text-align: center;
    }

    #purpose {
        text-align: left;
    }

    #purpose {
        text-align: left;
    }
</style>
</head>

<body>

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background mt-3">

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                    <h1>RECRUITMENT</h1>
                    <p>
                        <b>  "Mission Command,Intelligence, Prospecting, Interviewing, Processing, Leading Future Soldiers, Training and Leader Development, Sustaining Operations."</b>

                        <div class="d-flex">

                        </div>
                </div>

                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/HRMS/Images/Recruiment/MainImages_Recuriment.jpg" class="img-fluid animated" alt="">
                </div>


            </div>
        </div>

    </section><!-- /Hero Section -->
    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

        <div class="container" data-aos="zoom-in">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 2,
                          "spaceBetween": 40
                        },
                        "480": {
                          "slidesPerView": 3,
                          "spaceBetween": 60
                        },
                        "640": {
                          "slidesPerView": 4,
                          "spaceBetween": 80
                        },
                        "992": {
                          "slidesPerView": 5,
                          "spaceBetween": 120
                        },
                        "1200": {
                          "slidesPerView": 6,
                          "spaceBetween": 120
                        }
                      }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
                </div>
            </div>

        </div>

    </section><!-- /Clients Section -->
    <!-- About Section -->

    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Recruitment</h2>
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-12 content" data-aos="fade-up" data-aos-delay="100">
                        <p>

                            <b>  The process of identifying, attracting, interviewing, selecting, hiring, and onboarding employees. It is a core function of human resource management aimed at bringing in the best talent to meet organizational goals</b>
                        </p>

                    </div>




                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">

                </div>



            </div>

        </div><!-- End Section Title -->



    </section><!-- /About Section -->
    <!-- Why Us Section -->
    <section id="why-us" class="section why-us light-background" data-builder="section">

        <div class="container-fluid">

            <div class="row gy-4">

                <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

                    <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
                        <h3><strong>Talent Acquisition </strong></h3>
                        <p>Helps find the right candidates with the skills and cultural fit for the organization.</p>
                        <p>
                            Business Growth, Drives productivity and innovation by bringing in qualified employees.
                        </p>
                    </div>

                    <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

                        <div class="faq-item faq-active">

                            <h3><span>01</span> Employee Referrals</h3>
                            <div class="faq-content">
                                <p> Leveraging current employees to recommend candidates</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3><span>02</span> Promotion</h3>
                            <div class="faq-content">
                                <p>Elevating current employees to higher positions</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3><span>03</span> Transfers</h3>
                            <div class="faq-content">
                                <p>Moving employees across departments or locations</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                    </div>

                </div>

                <div class="col-lg-5 order-1 order-lg-2 why-us-img">
                    <img src="~/HRMS/Images/Recruiment/external recuriment.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">


                </div>
            </div>

        </div>

    </section><!-- /Why Us Section -->
    <!-- Skills Section -->
    <section id="skills" class="skills section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row">

                <div class="col-lg-6 d-flex align-items-center">
                    <img src="~/HRMS/Images/Recruiment/recuriment1.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0 content">

                    <h3>External Recruitment</h3>
                    <p class="fst-italic">
                        Job Portals,Platforms like LinkedIn, Indeed, and Glassdoor.
                    </p>

                    <div class="skills-content skills-animation">

                        <div class="card">
                            <p>Workforce Planning:Assessing current and future staffing needs based on business objectives.</p>
                            <style>
                                .card {
                                    border: 1px;
                                }
                            </style>
                        </div><!-- End Skills Item -->

                        <div class="card">
                            <p>Job Analysis: Identifying the skills, qualifications, and experience required for the role.</p>
                            <style>
                                .card {
                                    border: 1px;
                                }
                            </style>
                        </div><!-- End Skills Item -->

                        <div class="card">
                            <p>Job Description: Creating a detailed document outlining the responsibilities, qualifications, and expectations for the position.</p>
                            <style>
                                .card {
                                    border: 1px;
                                }
                            </style>
                        </div><!-- End Skills Item -->




                    </div>

                </div>
            </div>

        </div>

    </section><!-- /Skills Section -->
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>






    <script>
        // Set the current year dynamically
        document.getElementById("current-year").textContent = new Date().getFullYear();
    </script>

    <!-- Preloader -->
    <script>
        // Initialize Swiper
        document.addEventListener("DOMContentLoaded", function () {
            const configElement = document.querySelector(".swiper-config");
            const swiperConfig = configElement ? JSON.parse(configElement.textContent) : {};

            new Swiper(".init-swiper", swiperConfig);
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>

