
@model PSS_CMS.Models.ItemGroup
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ItemGroup- Create</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Item.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>

    <style>

        .btn-default1 {
            background-color: #6ED3D0;
            width: 75px;
            padding: 5px;
            color: white;
        }

        .btn-default2 {
            background-color: #F0A72D;
            width: 75px;
            padding: 5px;
            color: white;
        }

        .large-checkbox {
            transform: scale(1.5); /* Default size */
            width: 15px;
            height: 15px;
            cursor: pointer; /* Makes it easier to click */
        }

        .responsiveTextbox {
            display: flex;
            justify-content: end;
        }

        .responsiveCheckbox {
            display: flex;
            justify-content: space-around;
            padding: 0px 0px;
        }
    </style>
</head>
<body>

    <div class="row mt-3">
        <div class="col-lg-12 col-sm-8">
            <ul class="breadcrumb">
                <li style="color: #2888bb;">@Session["CompanyName"]</li>
                <li style="color: #2888bb; ">CONFIGURATION</li>
                <li><a href="@Url.Action("List", "ItemGroup", new { CompanyId = Session["CompanyId"] })" style="text-decoration:none;">ITEMGROUP</a></li>
                <li style="color: #2888bb;">CREATE</li>
            </ul>
        </div>
    </div>


    @using (Html.BeginForm("Create", "ItemGroup", FormMethod.Post, new { id = "userForm" }))
    {
        @Html.AntiForgeryToken()


        <div class="maincontentcreateandedit">
            <div class="normalpagecreateandedit">

                <div class="row createandeditforrespectivescreens">
                    <div class="column1">
                        <div class="row">

                            <label class="labels d-flex mt-3">
                                @Html.LabelFor(model => model.IG_CODE)
                                <span class="text-danger">*</span>
                            </label>


                        </div>

                    </div>
                    <div class="column2">
                        <div class="row mb-3">
                            @Html.EditorFor(model => model.IG_CODE, new { htmlAttributes = new { @class = "textboxstylecreateandedit2", id = "IG_CODE", tabindex = "1", @readonly = "readonly", placeholder = "Auto-Code" } })

                            <span id="IG_CodeTooltip" class="tooltipcode" style="display: none;">
                                Code must be a combination of four to seven alphanumerics or numerics and should not start with 0.
                            </span>
                        </div>

                    </div>
                </div>


                <div class="row createandeditforrespectivescreens">
                    <div class="column1">
                        <div class="row">

                            <label class="labels d-flex mt-3">
                                @Html.LabelFor(model => model.IG_DESCRIPTION)
                                <span class="text-danger">*</span>
                            </label>


                        </div>

                    </div>
                    <div class="column2">
                        <div class="row mb-3">
                            @Html.EditorFor(model => model.IG_DESCRIPTION, new { htmlAttributes = new { @class = "textboxstylecreateandedit2", tabindex = "2", id = "IG_DESCRIPTION" } })
                            @Html.ValidationMessageFor(model => model.IG_DESCRIPTION, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>


                <div class="row createandeditforrespectivescreens">
                    <div class="column1">
                        <div class="row">

                            <label class="labels d-flex mt-3">
                                @Html.LabelFor(model => model.IG_SORTORDER, htmlAttributes: new { @class = "" })
                            </label>


                        </div>

                    </div>
                    <div class="column2">
                        <div class="row mb-3">
                            @Html.EditorFor(model => model.IG_SORTORDER, new
                      {
                          htmlAttributes = new
                          {
                              @class = "boxstylecreateandedit2 text-right",
                              tabindex = "3",
                     oninput = "this.value = this.value.replace(/[^0-9]/g, '')", // Allow only digits
                     type = "text",
                     min = "0", // Prevents negative numbers
                    id = "IG_SORTORDER"
                          }
                      })
                        </div>

                    </div>
                </div>

                <div class="row createandeditforrespectivescreens">
                    <div class="column1">
                        <div class="row">

                            <label class="labels d-flex mt-1">
                                @Html.LabelFor(model => model.IsDisabled, htmlAttributes: new { @class = "labels" })
                            </label>



                        </div>

                    </div>
                    <div class="column2">
                        <div class="row mb-3">
                            @Html.CheckBoxFor(model => model.IsDisabled, new { @class = "large-checkbox", tabindex = "7" })
                            @Html.ValidationMessageFor(model => model.IsDisabled, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="column1">
                        <div class="row mb-3">


                        </div>

                    </div>
                    <div class="column2">
                        <div class="row mb-3">
                            <div class="mainsubcanbuttons2 text-end" style="">
                                <input type="submit" id="submitButton" value="Save" class=" btn-default1 me-3" tabindex="9" />
                                <input type="button" class=" btn-default2" tabindex="10" onclick="window.location.href='@Url.Action("List", "ItemGroup", new { companyId = Session["CompanyId"] })'" value="Cancel" />
                            </div>
                        </div>


                    </div>
                </div>




            </div>
        </div>


    }
    <footer>
        <div style="padding-top:8px;padding-bottom:8px;padding-left:8px" class="footer">
            <div class="flex-container">

                <div class="flex-item">
                    <div class="d-flex justify-content-center footerb">
                        <span class="minicheck minicheck1 mt-1"></span>
                        - Text Fields

                    </div>
                </div>

                <div class="flex-item">
                    <div class="d-flex justify-content-center footerb">
                        <span class="minicheck minicheck2 mt-1"></span>
                        - Number Fields

                    </div>
                </div>

            </div>
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Create Sweet Alert.js"></script>
    <script>
        window.addEventListener("load", function () {
            setTimeout(function () {
                document.getElementById("IG_CODE").focus();
            }, 300);
        });
    </script>
    <script>

        $(document).ready(function() {
            $('#submitButton').click(function(event) {
                event.preventDefault(); // Prevent default form submission

                // Call the common submitForm function
                submitForm(
                    '#userForm',
                    '@Url.Action("List", "ItemGroup", new { reload="True" })',
                    '@Url.Content("~/images/EditSuccess.json")'
                );
            });
        });


    </script>
    <script>
        document.getElementById('IG_SORTORDER').addEventListener('input', function (e) {
            // Remove all leading zeroes and disallow inputting "0" directly
            e.target.value = e.target.value.replace(/^0+/, '');
        });
        document.getElementById('IG_CODE').addEventListener('input', function (e) {
            var input = e.target.value;
            var tooltip = document.getElementById('IG_CodeTooltip');

            // Validate: not starting with 0 and only alphanumeric characters (4 to 7 characters)
            var isValid = /^[A-Za-z1-9][A-Za-z0-9]{3,6}$/.test(input);

            if (!isValid || input.length > 7) {
                tooltip.style.display = 'block';
            } else {
                tooltip.style.display = 'none';
            }

            // Disallow special characters
            e.target.value = input.replace(/[^A-Za-z0-9]/g, '');

            // Prevent starting with 0
            if (e.target.value.startsWith('0')) {
                e.target.value = e.target.value.slice(1);
            }
        });



        // Name field logic to disallow special characters (allowing letters and spaces)
        document.getElementById('IG_DESCRIPTION').addEventListener('input', function (e) {
            var input = e.target.value;
            // Allow only letters, spaces, and dots
            e.target.value = input.replace(/[^a-zA-Z\s.]/g, '');
        });
    </script>


    @Styles.Render("~/bundles/outlet?v=1.0")
</body>
</html>

