@model PSS_CMS.Models.PaymentUpdate

@{
    ViewBag.Title = "Add Invoice";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <link href="~/assets/img/bexlogo_wob.png" rel="icon">
    <link href="~/assets/img/bexlogo_wob.png" rel="apple-touch-icon">
    <title>BEYONDEXS - SERVICE MANAGEMENT</title>
    <link href="~/Content/ClientSide.css" rel="stylesheet" />
    <link href="~/Content/Style1.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/Content/FooterResponsive.css" rel="stylesheet" />
    @*Bootstrap Icons and Boxicons and Fontawesome link*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <script src="~/Scripts/Sidebarscript.js"></script>
    <link href="~/Content/Responsive.css" rel="stylesheet" />
    <link href="~/Content/Colors.css" rel="stylesheet" />
    <link href="~/Content/SideMenu.css" rel="stylesheet" />
    <!-- Favicons -->
    <link href="~/assets/img/PSSlogo.png" rel="icon">
    <link href="~/assets/img/PSSlogo.png" rel="apple-touch-icon">
</head>

<body>
    @*Sidebar*@
    <nav class="sidebar close">
        <header>
            <div class="text logo-text" style="display:inline-block">

                <a href="@Url.Action("ContractDashboard", "Contract")">


                    @if (Session["Logo"] != null)
                    {
                        <img src="data:image/png;base64,@Session["Logo"]" alt="PSS Logo" class="logo" />
                    }

                </a>


            </div>

            <i class="bx bx-chevron-right toggle" style="margin-right:28px;margin-top:16px;"></i>

        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links" style="margin-left:20px">
                    <!-- ACCOUNTS ADMIN -->
                    <li class="nav-link openfold" style="margin-top:10px;">
                        <img src="~/assets/img/software-engineer.png" class="settingsIcon" style="width: 25px; height: 25px; margin-bottom: 10px;" />
                        <img src="~/assets/img/software-engineer.png" class="openIcon" style="display: none; width: 25px; height: 25px; margin-bottom: 10px;" />
                        <span class="text nav-text" style="margin-left:15px">ACCOUNTS ADMIN</span>
                    </li>
                    <!-- Customer Accounts -->
                    <li class="nav-link">
                        <a href="@Url.Action("CustomerList", "Contract")">
                            <i class='bx bxs-file' style="font-size:20px"></i>
                            <span class="text nav-text" style="margin-left:15px">User Accounts</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="@Url.Action("List", "AccountantCustomerInvoice")">
                            <i class='bi bi-bag-check' style="font-size:20px"></i>
                            <span class="text nav-text" style="margin-left:15px">Customer Invoice</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="@Url.Action("Index", "ServiceInvoice")">
                            <i class='bi bi-bag-check' style="font-size:20px"></i>
                            <span class="text nav-text" style="margin-left:15px">Service Invoice</span>
                        </a>
                    </li>
                    <!-- Settings Section -->
                    <li class="nav-link openfold" style="margin-top:10px;">
                        <img src="~/assets/img/cyber-security.png" class="settingsIcon" style="width: 25px; height: 25px; margin-bottom: 5px;" />
                        <img src="~/assets/img/cyber-security.png" class="openIcon" style="display: none; width: 25px; height: 25px; margin-bottom: 5px;" />
                        <span class="text nav-text" style="margin-left:15px">SECURITY</span>
                    </li>

                    @*Change Password*@
                    <li class="nav-link">
                        <a href="@Url.Action("ChangePassword", "Contract")">
                            <i class='bx bxs-key' style="font-size:24px"></i>
                            <span class="text nav-text" style="margin-left:15px">Change Password</span>
                        </a>
                    </li>
                    <!-- Logout -->
                    <li class="nav-link">
                        <a href="@Url.Action("Index", "Login")" class="logout-trigger login-link text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
                            <i class='bx bx-log-out' style="font-size:24px"></i>
                            <span class="text nav-text" style="margin-left:15px">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="content" style=" overflow-x: hidden!important;">
        <nav class="nav d-flex">
            <div class="p-2 flex-grow-1"> <h3 style="margin-top:10px" class="heading ms-3 adminheadinres">SERVICE MANAGEMENT</h3></div>
            <div class="p-2" style="margin-right:10px"><h4 class="heading adminlogoutres">@Session["UserName"].ToString().ToUpper() - @Session["Role"]</h4></div>
            <div class="p-2 me-3 logout" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Log out">
                <a href="@Url.Action("Logout", "Login")" class="text-decoration-none" id="logoutlink" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                    <i class='bx bx-log-out' style="font-size:24px;color:red !important;" id="logoutresiconadmin"></i>

                </a>
            </div>

        </nav>

        <div class="row" style="margin-top:10px">
            <div class="col-lg-12">
                <ul class="breadcrumb mt-1" style="margin-bottom:0px!important">
                    <li>UPDATE PAYMENT</li>
                    <li>UPDATE</li>
                </ul>
            </div>


        </div>
        <div class="container mt-3">

            @using (Html.BeginForm("UpdatePayment", "ServiceInvoice", FormMethod.Post))
            {

                <div class="row mb-3">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        @Html.LabelFor(model => model.TC_ReferenceNo, new { @class = "labels" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        @Html.EditorFor(model => model.TC_ReferenceNo, new { htmlAttributes = new { @class = "form-control textboxcolors", autocomplete = "off" } })
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        @Html.LabelFor(model => model.TC_InvoiceNumber, new { @class = "labels" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        @Html.EditorFor(model => model.TC_InvoiceNumber, new { htmlAttributes = new { @class = "form-control textboxcolors", autocomplete = "off" } })
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        @Html.LabelFor(model => model.TC_ModeOfPayment, new { @class = "labels" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        @Html.EditorFor(model => model.TC_ModeOfPayment, new { htmlAttributes = new { @class = "form-control textboxcolors", autocomplete = "off" } })
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        @Html.LabelFor(model => model.TC_DateOfPayment, new { @class = "labels" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        @Html.EditorFor(model => model.TC_DateOfPayment, new { htmlAttributes = new { @class = "form-control textboxcolors", autocomplete = "off" } })
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        @Html.LabelFor(model => model.TC_TotalAmount, new { @class = "labels" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        @Html.EditorFor(model => model.TC_TotalAmount, new { htmlAttributes = new { @class = "form-control textboxcolors", autocomplete = "off" } })
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-5 d-flex justify-content-end ms-1">
                        <input type="submit" class="submitbuttons me-3" tabindex="" />
                        <input type="button" value="Cancel" class="cancelbuttons" tabindex="" id="" onclick="window.location.href='@Url.Action("Index", "UpdatePayment")'" />

                    </div>
                </div>

            }
        </div>
    </div>

    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height: 150px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-align-center" id="offcanvasBottomLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
            <h4>Are you sure you want to log out?</h4>
        </div>
        <div class="offcanvas-footer d-flex justify-content-center">
            <input type="button" class="btncolorsubmit me-3" id="confirmLogoutBtn" value="Confirm" tabindex="1">
            <input type="button" class="btncolorcancel" data-bs-dismiss="offcanvas" value="Cancel" tabindex="2">
        </div>
    </div>
    <div id="preloader2"></div>
    <!-- LogOut JS -->
    <script src="~/Scripts/Logoutjs.js"></script>
    <!-- Bootstrap 5 JS (optional, only needed for UI components like tooltips) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
$(document).ready(function () {
    // Intercept form submission
    $("form").on("submit", function (event) {
        event.preventDefault();

        var submitBtn = $(this).find("input[type='submit']");
        submitBtn.prop("disabled", true);

        var form = $(this);
        var formData = new FormData(this);

        // Disable page interaction
        $("body").css("pointer-events", "none");

        $.ajax({
            url: form.attr("action"),
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.success) {

                    // 🔹 Step 1: Show "Processing..." dialog
                    Swal.fire({
                        title: "Processing...",
                        html: "Please wait while we update your payment details.",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        didOpen: () => {
                            Swal.showLoading();
                        }
                    });

                    // 🔹 Step 2: After a small delay, show success dialog
                    setTimeout(function () {
                        Swal.fire({
                            title: "Success!",
                            text: response.message,
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "Back to List",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            customClass: {
                                confirmButton: "swal-btn-continue",
                            },
                            didOpen: () => {
                                $(".swal2-container").css("pointer-events", "auto");
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("Index", "ServiceInvoice")';
                            } else {
                                window.location.href = '@Url.Action("UpdatePayment", "ServiceInvoice")';
                            }
                        });
                    }, 1000); // 1 second delay

                } else {
                    // ℹ️ Info alert for validation or backend message
                    Swal.fire({
                        title: "Message",
                        text: response.message,
                        icon: "info",
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    });
                    resetForm();
                }
            },
            error: function () {
                // ❌ Error alert
                Swal.fire({
                    title: "Error!",
                    text: "An unexpected error occurred while updating payment.",
                    icon: "error",
                    allowOutsideClick: false,
                    allowEscapeKey: false
                });
                resetForm();
            }
        });
    });

    function resetForm() {
        $("input[type='submit']").prop("disabled", false);
        $("body").css("pointer-events", "auto");
    }
});
    </script>




</body>
</html>
