@model IEnumerable<PSS_CMS.Models.Contract>
@using GridMvc.Html


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="~/Content/FooterResponsive.css" rel="stylesheet" />
    <link href="~/Content/ClientSide.css" rel="stylesheet" />
    <link href="~/Content/Style1.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @*Bootstrap Icons and Boxicons and Fontawesome link*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="~/Scripts/Script.js"></script>
    <link href="~/Content/Responsive.css" rel="stylesheet" />
    <link href="~/Content/SideMenu.css" rel="stylesheet" />
    <style>
        i.bi.bi-eye.\-.fill {
            font-size: 17px;
        }
    </style>
</head>

<body>

    <div class="content" style=" overflow-x: hidden!important;">
        <nav class="nav d-flex">
            <div class="p-2 flex-grow-1"> <h3 style="margin-top:10px" class="heading ms-3 adminheadinres">SERVICE MANAGEMENT</h3></div>
            <div class="p-2" style="margin-right:10px"><h4 class="heading adminlogoutres">@Session["UserName"].ToString().ToUpper() - @Session["Role"]</h4></div>
            <div class="p-2 me-3 logout" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Log out">
                <a href="@Url.Action("Logout", "Login")" class="text-decoration-none" id="logoutlink" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                    <i class='bx bx-log-out' style="font-size:24px;color:red !important;" id="logoutresiconadmin"></i>

                </a>
            </div>

        </nav>
        <div class="row" style="margin-top:10px">
            <div class="col-lg-9">
                <ul class="breadcrumb mt-1" style="margin-bottom:0px!important">
                    <li>CONTRACTS</li>
                </ul>
            </div>
            <div class="col-lg-3" style="display:flex;align-items:end;justify-content:end;">

            </div>

        </div>

        <div class="table mt-3 ms-1 me-5" id="ticketTable1">
            @if (Model != null)
            {
                @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.SerialNumber).Titled("S.No").Sortable(true).Css("text-right").SetWidth("10px");

               columns.Add(c => c.CP_CODE).Titled("Code");


               //columns.Add(c => c.CP_PRODUCTNAME).Titled("Product Name");
               columns.Add(c => c.FORMATTEDCPFROMDATE).Titled("From Date");
               columns.Add(c => c.FORMATTEDCPTODATE).Titled("To Date");
               //columns.Add(c => c.CP_CONTRACTREF).Titled("Contract Ref");
               //columns.Add(c => c.CP_CONTRACTAPPROVEDBY).Titled("Contract approved by");
               columns.Add(c => c.CP_CONTRACTCREATEDBY).Titled("Contract created by");
               columns.Add(c => c.FORMATTEDCONTRACTAPPROVEDDATE).Titled("Contract approved date");


               columns.Add(c => c.CP_CONTRACTAMOUNT)
        .Titled("Contract Amount")
        .Format("{0:N2}")
        .Css("text-right");
               //columns.Add(c => c.CP_TOTALAMOUNT).Titled("Invoice Amount").Css("text-right");
               //columns.Add(c => c.CP_PAIDAMOUNT).Titled("Paid Amount").Css("text-right");
               //columns.Add(c => c.CP_BALANACEAMOUNT).Titled("Balance Amount").Css("text-right");
               //columns.Add(c => c.CP_FREECALLS).Titled("Free Calls").Css("text-right");


               columns.Add(c => c.CP_SORT).Titled("Sort").SetWidth("80px").Css("text-right");

               columns.Add().Titled("Action").SetWidth("150px")
               .Encoded(false)
               .Sanitized(false)
               .RenderValueAs(o =>
               {



                   var Productsurl = Url.Action("ListView", "ContractProduct", new { ContractRecid = o.CP_RECID, CP_CODE = o.CP_CODE, CP_STATUS = o.CP_STATUS, CustomerRecid = o.CP_CTURECID }, null);
                   var ProductsiconHtml = "<i class='bi bi-bag-check'></i>";
                   var ProductslinkHtml = $"<a href='{Productsurl}' data-toggle='tooltip' data-placement='top' title='Products'>{ProductsiconHtml}</a>";


                   string ViewlinkHtml = "";
                   string ProcesslinkHtml = "";


                   var Viewurl = Url.Action("ViewContractProductSA", "Contract", new
                   {
                       CP_RECID = o.CP_RECID,
                       ProductName = o.CP_PRODUCTNAME,
                       CT_CPRECID = o.CP_CTRECID,
                       CP_CTURECID = o.CP_CTURECID,
                       CP_USERTYPE = o.CP_USERTYPE,
                       CP_PAIDAMOUNT = o.CP_PAIDAMOUNT,
                       CP_TOTALAMOUNT = o.CP_TOTALAMOUNT,
                       CP_BALANACEAMOUNT = o.CP_BALANACEAMOUNT
                   });

                   var ViewiconHtml = "<i class='bx bx-show bx-sm text-success'></i>";
                   ViewlinkHtml = $"<a href='{Viewurl}' title='View'>{ViewiconHtml}</a>";
                   string UnlocklinkHtml = "";
                   if (o.CP_STATUS=="P") {
                       var Unlockurl = Url.Action("UnlockContract", "AccountantCustomerInvoice", new { Recid = o.CP_RECID }, null);
                       var UnlockiconHtml = "<i class='bx bx-lock-open bx-sm text-danger'></i>";
                        UnlocklinkHtml = $"<a href='javascript:void(0);' onclick='confirmUnlock(\"{Unlockurl}\",{o.CP_RECID})' title='Unlock'>{UnlockiconHtml}</a>";


                   }
                   var extraSpaces = "&nbsp;&nbsp;";

                   return MvcHtmlString.Create(
                       $"{ViewlinkHtml}{extraSpaces}{ProcesslinkHtml}{extraSpaces}{ProductslinkHtml}{extraSpaces}{UnlocklinkHtml}"
                   );
               });

           }).WithPaging(10).Sortable(true)
            }
            else
            {
                <div class="alert alert-warning text-center">
                    <b>No contracts are available</b>
                </div>}

        </div>

        <footer>
            <div class="footer">
                <div class="flex-container" style="padding-top:5px;padding-left:5px">

                    <div class="flex-item mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <img src="~/assets/img/icons8-add-32.png" alt="Add" width="15" height="15" />
                        </div>&nbsp;- Create
                    </div>

                    <div class="flex-item mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <i style="color:#337ab7" class='bx bxs-pencil bx-sm'> </i>
                        </div>
                        &nbsp;- Edit
                    </div>

                    <div class="flex-item  mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <i class='bx bxs-trash bx-sm red'> </i>
                        </div>
                        &nbsp;- Delete
                    </div>  <div class="flex-item  mt-1">
                        <div class="d-flex justify-content-center footerb">
                            <i class='bi bi-bag-check'> </i>
                        </div>
                        &nbsp;- Products
                    </div>


                </div>
            </div>
        </footer>

    </div>


    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="height: 150px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-align-center" id="offcanvasBottomLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
            <h4>Are you sure you want to log out?</h4>
        </div>
        <div class="offcanvas-footer d-flex justify-content-center">
            <input type="button" class="btncolorsubmit me-3" id="confirmLogoutBtn" value="Confirm" tabindex="1">
            <input type="button" class="btncolorcancel" data-bs-dismiss="offcanvas" value="Cancel" tabindex="2">
        </div>
    </div>
    <div id="preloader2"></div>
    <!-- LogOut JS -->
    <script src="~/Scripts/Logoutjs.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/Scripts/Fordelete.js"></script>
    <script>
        function downloadPdfAjax(url) {
            // Show a SweetAlert2 loading popup
            Swal.fire({
                title: 'Processing...',
                text: 'Your PDF is being prepared.',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                }
            });

            $.ajax({
                url: url,
                type: 'POST',
                xhrFields: {
                    responseType: 'blob' // important for PDF
                },
                success: function (data, status, xhr) {
                    // Close the loading popup
                    Swal.close();

                    var blob = new Blob([data], { type: 'application/pdf' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);

                    // Optional: get filename from response header
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    var fileName = "Invoice.pdf";
                    if (disposition && disposition.indexOf('filename=') !== -1) {
                        fileName = disposition.split('filename=')[1].replace(/"/g, '');
                    }

                    link.download = fileName;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                },
                error: function () {
                    // Close the loading popup and show error
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Failed to download PDF.'
                    });
                }
            });
        }
        function confirmUnlock(url, recid) {
            Swal.fire({
                title: 'Unlock Invoice',
                input: 'textarea',
                inputLabel: 'Enter Unlock Reason',
                inputPlaceholder: 'Type your reason here...',
                inputAttributes: {
                    'aria-label': 'Unlock reason'
                },
                // ✅ Custom icon instead of default
                iconHtml: "<i class='bx bx-lock-open bx-sm text-danger'></i>",
                customClass: {
                    icon: 'no-border' // optional (removes default circle styling)
                },
                showCancelButton: true,
                confirmButtonText: 'Unlock',
                cancelButtonText: 'Cancel',
                preConfirm: (reason) => {
                    if (!reason) {
                        Swal.showValidationMessage('Reason is required!');
                    }
                    return reason;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var reason = result.value;

                    // Redirect with reason
                    window.location.href = url + "&reason=" + encodeURIComponent(reason);
                }
            });
        }
    </script>


    <script>
        function confirmProcess(url) {
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you want to process this contract?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Process it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url;
                }
            });
        }


    </script>




</body>
</html>


